package components

templ box(in string) {
	<div>
		<p>Hello { in }</p>
	</div>
}

templ Hello(name string) {
	<html>
		<head>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<div class="bg-slate-500 text-3xl">Hello, { name }</div>
		@box("Tomorrow")
		@test()
	</html>
}